<div id="<%= dom_id film %>">
  <p>
    <strong>Title:</strong>
    <%= film.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= film.description %>
  </p>

  <p>
    <strong>Director:</strong>
    <%= film.director %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= film.rating %>
  </p>

</div>
