<%= search_form_for @q, html: {class: "form-horizontal"} do |f| %>
  <%= f.search_field :title_cont, placeholder:"Введіть пошуковий запит...", class:"form-control" %>
  <br>
  <div class="container text-center">
    <div class="row">
      <div class="col">
        <%= sort_link(@q, :rating, 'За рейтингом', default_order: :desc) %>
      </div>
      <div class="col">
        <%= f.select :category_id_eq, options_from_collection_for_select(Category.all, "id", "title"), include_blank: true %>
      </div>
      <div class="col">
        <%= sort_link(@q, :updated_at, 'Останні додані', default_order: :desc) %>
      </div>
    </div>
  </div>
  <br>
  <center><%= f.submit "Пошук", class:"btn btn-secondary" %></center>
<% end %>
