<div id="films">
  <%= render :partial => 'films/search_form' %>
  <% @films.each do |film| %>
    <%= render film %>
    <p> <%= link_to "Show this film", film %> </p>
  <% end %>
  <nav><%= paginate @films %></nav>
  <p> <%= link_to "AdminPanel", admin_user_session_path %> </p>
</div>
