<!DOCTYPE html>
<html>
  <head>
    <title>RatingFilms</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_importmap_tags %>
    <%= render "layouts/header"%>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
      <%= ".msg-#{current_user&.id}" %> {
        background-color: #007bff !important;
        padding: 10px;
      }
      <%= ".cont-#{current_user&.id}" %> {
        display: flex;
        justify-content: flex-end
      }

      body {background-color: #708090;}
    </style>
  </head>
  <body>
    <div class="container">
      <% flash.each do |name, msg| %>
        <%= content_tag(:div, msg, class: 'alert alert-info') %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
